services:
  wings:
    image: ghcr.io/pterodactyl/wings:latest
    restart: always
    container_name: pterodactyl-wings
    networks:
      - wings0
      - pterodactyl
      - proxy
    ports:
      # - "8080:8080"
      - "2022:2022"
    tty: true
    environment:
      TZ: "UTC"
      WINGS_UID: 988
      WINGS_GID: 988
      WINGS_USERNAME: pterodactyl
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers/:/var/lib/docker/containers/"
      - "/etc/pterodactyl/:/etc/pterodactyl/"
      - "/var/lib/pterodactyl/:/var/lib/pterodactyl/"
      - "/var/log/pterodactyl/:/var/log/pterodactyl/"
      - "/tmp/pterodactyl/:/tmp/pterodactyl/"
      - "/etc/ssl/certs:/etc/ssl/certs:ro"
      - "/run/wings:/run/wings"
      # you may need /srv/daemon-data if you are upgrading from an old daemon
      #- "/srv/daemon-data/:/srv/daemon-data/"
      # Required for ssl if you use let's encrypt. uncomment to use.
      #- "/etc/letsencrypt/:/etc/letsencrypt/"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wings0.entrypoints=https"
      - "traefik.http.routers.wings0.tls.certresolver=dns-cloudflare"
      - "traefik.http.services.wings0.loadbalancer.server.port=443"
      - "traefik.http.routers.wings0.rule=Host(`$PTERODACTYL_WINGS_DOMAIN_NAME`)"
networks:
  pterodactyl:
    external: true
  proxy:
    external: true
  wings0:
    name: wings0
    driver: bridge
    ipam:
      config:
        - subnet: "172.21.0.0/16"
    driver_opts:
      com.docker.network.bridge.name: wings0