services:
  troop711:
    image: ghcr.io/xcraftman52/troop711/troop711:latest
    container_name: troop711
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.troop711.rule=Host(`$TROOP_DOMAIN_NAME`)"
      - "traefik.http.routers.troop711.entrypoints=https"
      - "traefik.http.routers.troop711.tls.certresolver=dns-cloudflare"
      - "traefik.http.services.troop711.loadBalancer.server.port=3000"

networks:
  proxy:
    external: true