services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
      - internal
    volumes:
      - ./data:/data
    env_file:
      - .env
    depends_on:
      - mysql
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vaultwarden.entrypoints=https"
      - "traefik.http.routers.vaultwarden.tls.certresolver=dns-cloudflare"
      - "traefik.http.services.vaultwarden.loadbalancer.server.port=80"
      - "traefik.http.routers.vaultwarden.rule=Host(`$VAULT_DOMAIN_NAME`)"

  mysql:
    image: mysql:8.0
    container_name: vaultwarden-mysql
    restart: always
    networks:
      - internal
    env_file: 
      - .env
    volumes:
      - ./data_mysql:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
  # phpmyadmin:
  #   image: phpmyadmin:latest
  #   container_name: vaultwarden-pma
  #   restart: always
  #   networks:
  #     - proxy
  #     - internal
  #   environment:
  #     - PMA_HOST=mysql
  #     - PMA_PORT=3306
  #     - PMA_ABSOLUTE_URI=$DOMAIN
  #   depends_on:
  #     - mysql
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.pma.entrypoints=https"
  #     - "traefik.http.routers.pma.tls.certresolver=dns-cloudflare"
  #     - "traefik.http.services.pma.loadbalancer.server.port=80"
  #     - "traefik.http.routers.pma.rule=Host(`$DOMAIN`)"

networks:
  proxy:
    external: true
  internal:
    internal: true
