services:
  portfolio-website:
    image: ghcr.io/xcraftman52/portfolio:latest
    container_name: portfolio-website
    environment:
        - WEBHOOK=$WEBHOOK
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.portfolio.rule=Host(`$PORTFOLIO_WEBSITE_DOMAIN_NAME`)"
    - "traefik.http.routers.portfolio.entrypoints=https"
    - "traefik.http.routers.portfolio.tls.certresolver=dns-cloudflare"
    - "traefik.http.services.portfolio.loadBalancer.server.port=3000"
    networks:
      - proxy
    security_opt:
      - no-new-privileges:true
    restart: always

networks:
  proxy:
    external: true
